// COLOR
$color-primary: 'rgb(90, 219, 126)';
$color-secondary: 'rgb(95, 216, 219)';

// FONT
$primary-font: 'Helvetica Neue';

// BREAKPOINTS
$break-s: 'max-width(480px)';
$break-l: 'max-width(1400px)';
