  .container {
    @include flex (column, center);
    font-weight: 300;
    margin: 2rem;
    @include desktop {
    margin: 2rem 3rem;
    }
  }




  .grid_row {
    @include flex (column, center);
    margin-bottom: 1rem;
    @include desktop {
    @include flex (row, center);
    }
  }

// TYPOGRAPHY SECTION
  .grid__row:nth-of-type(2) .grid__col--12 {
    padding: 0;
    margin: 2rem 0;
    @include desktop {
      margin: 4rem 0;
    }
  }

// "BUTTONS"
  .grid__col--12 {
    @include flex (column, center);
    padding: 1rem 1rem;
    margin: .5rem 1rem;
    @include desktop {
    @include flex (row, space-around);
    }
  }

// GRID COLORS
  .grid__col--12.theme__colors {
    @include  grid-col ($c: $main);
    @include desktop {
    }
  }

  .grid__col--6.theme__colors {
    @include grid-col ($c: $grid-6);
    @include desktop {
      max-height: 50px;
      margin-right: 1rem;
    }
  }

  .grid__col--4.theme__colors {
    @include grid-col ($c: $grid-4);
    @include desktop {
      max-height: 50px;
      margin-right: 1rem;
    }
  }

  .grid__col--3.theme__colors {
    @include grid-col ($c: $grid-3);
    @media (min-width: $break-m) {
      max-height: 50px;
      margin-right: 1rem;
    }
  }

  .grid__col--5.theme__colors {
    @include grid-col ($c: $grid-5);
    @include desktop {
      max-height: 50px;
      margin-right: 1rem;
    }
  }

    .grid__col--7 {
    &.theme__colors {
      @include grid-col ($c: $grid-7);
      @include desktop {

      }
      &.centered {
        @media (min-width: $break-m) {
        width: 80%;
        margin: auto;

      }
    }
  }
}

  .grid__col--8.theme__colors {
    @include grid-col ($c: $grid-8);
    @include desktop {
      max-height: 50px;
      margin-right: 1rem;
    }
  }


// GRID LAYOUTS

  .grid__col-- {

    &12.theme__colors {
    margin-bottom: 3rem;
    }

    &6.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &4.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &3.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &7.theme__colors {
    margin-bottom: 3rem;
    }

    &4.theme__colors:nth-of-type(4) {
    margin-bottom: 3rem;
    }
  }

// TYPOGRAPHY SECTION
    .grid__col--8 .card {
    @include desktop {
      margin-right: 0;
      width: 100%;
      float: left;
    }
  }

// FORM
    .grid__col--4 {
    @include desktop {
      float: right;
      margin: 0;
      width: 100%;
    }
  }

// FRAME AND AVATAR
  .grid__row:nth-of-type(4) {
    @include flex (column, center);
    @include desktop {
    @include flex (row, center);
    clear: both;
    }
  }

// NAV
  .grid__col--9 {
    text-align: center;
    padding: 1em;
    margin-bottom: 3rem;
    @include flex (column, center);

    & li {
      margin: 2rem;
      list-style-type: none;
      line-height: 1.2;
      @media (min-width: $break-m) {
        display: inline-block;
        margin: 0 .3rem;
        padding: .5rem 0;
      }
    }
  }

// GRID SYSTEM
    @include desktop {
    @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
      .grid__col--#{$i} {
        width: percentage( $target / $context );
      }
      .grid__row:nth-of-type(1) {
         @include flex (row, center);
       }

      .grid__row:nth-of-type(4) {
         @include flex (row, center);
       }

      .grid__row:nth-of-type(7) {
      @include flex (row, center);
      }

      .grid__row:nth-of-type(8) {
       @include flex (row, center);
     }

      .grid__row:nth-of-type(9) {
       @include flex (row, center);
     }

      .grid__row:nth-of-type(10) {
     @include flex (row, center);
     }

      .grid__row:nth-of-type(11) {
      @include flex (row, center);
    }
   }
  }
