  .container {
    @include flex (column, center);
    font-weight: 300;
    margin: 2rem;
    @media (min-width: $break-m) {
      margin: 2rem 3rem;
    }
  }


  .grid_row {
    @include flex (column, center);
    margin-bottom: 1rem;
    @media (min-width: $break-m) {
      @include flex (row, center);
    }
  }

// TYPOGRAPHY SECTION
  .grid__row:nth-of-type(2) .grid__col--12 {
    padding: 0;
    margin: 2rem 0;
    @media (min-width: $break-m) {
      margin: 4rem 0;
    }
  }

// "BUTTONS"
  .grid__col--12 {
    @include flex (column, center);
    @media (min-width: $break-m) {
    @include flex (row, space-between);
    margin: 0 3rem;
    }
  }

// GRID COLORS
  .grid__col--12.theme__colors {
    @include  grid-col ($c: $main);
    @media (min-width: $break-m) {
      width: 100%;
      margin: auto;

    }
  }

  .grid__col--6.theme__colors {
    @include grid-col ($c: $grid-6);
    @media (min-width: $break-m) {
      width: 46.5%;
      display: inline-block;
      position: relative;
      margin-right: 1.5rem;
    }
  }

  .grid__col--4.theme__colors {
    @include grid-col ($c: $grid-4);
    @media (min-width: $break-m) {
      width: 30%;
      display: inline-block;
      position: relative;
      margin-right: 1.5rem;
    }
  }

  .grid__col--3.theme__colors {
    @include grid-col ($c: $grid-3);
    @media (min-width: $break-m) {
      width: 21.5%;
      display: inline-block;
      position: relative;
      margin-right: 1.5rem;
    }
  }

  .grid__col--5.theme__colors {
    @include grid-col ($c: $grid-5);
    @media (min-width: $break-m) {
      width: 30%;
      display: inline-block;
      position: relative;
      margin-right: 1.5rem;
    }
  }

    .grid__col--7 {
    &.theme__colors {
      @include grid-col ($c: $grid-7);
      @media (min-width: $break-m) {
        width: 63%;
        display: inline-block;
        position: relative;
        margin-right: 1.5rem;
      }
      &.centered {
        @media (min-width: $break-m) {
        margin: 0 5rem;
        width: 80%;
      }
    }
  }
}

  .grid__col--8.theme__colors {
    @include grid-col ($c: $grid-8);
    @media (min-width: $break-m) {
      width: 64%;
      display: inline-block;
      position: relative;
      margin-right: 1.5rem;
    }
  }


// GRID LAYOUTS

  .grid__col-- {

    &12.theme__colors {
    margin-bottom: 3rem;
    }

    &6.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &4.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &3.theme__colors:last-child {
      margin-bottom: 3rem;
    }

    &7.theme__colors {
    margin-bottom: 3rem;
    }

    &4.theme__colors:nth-of-type(4) {
    margin-bottom: 3rem;
    }
  }



// TYPOGRAPHY SECTION
    .grid__col--8 {
    @media (min-width: $break-m) {
      float: left;
      width: 60%;
    }
  }

// FORM
    .grid__col--4 .form {
    @media (min-width: $break-m) {
      float: right;
      width: 30%;
    }
  }

// FRAME AND AVATAR
  .grid__row:nth-of-type(4) {
    @include flex (column, center);
    @media (min-width: $break-m) {
    @include flex (row, center);
    }
  }

  .grid__row:nth-of-type(4) .img--frame {
    @media (min-width: $break-m) {
    flex: 70%;
    margin: 0;
    }
  }

  .grid__row:nth-of-type(4) .img--avatar {
    @media (min-width: $break-m) {
    flex: 25%;
    margin: -3rem;
  }
}


// NAV
  .grid__col--9 {
    text-align: center;
    padding: 1em;
    margin-bottom: 3rem;
    @include flex (column, center);

    & li {
      margin: 2rem;
      list-style-type: none;
      line-height: 1.2;
      @media (min-width: $break-m) {
        display: inline-block;
        margin: 0 .3rem;
        padding: .5rem 0;
      }
    }
  }

// GRID SYSTEM
