
  .grid__col--3 .link {
    @include flex (row, center);
    @media (min-width: $break-m) {
      float: left;
      margin: .5rem 2rem;
    }
  }

  .grid__row:nth-of-type(4) .grid__col--6 {
    @include flex (column, center);
  }

  .img {
    &--avatar {
      margin: auto;
      padding: 2rem 1rem;
      }
    &--frame {
      outline: 1px solid black;
      outline-offset: 5px;
      margin: auto;
      padding: 1rem 1rem;
      width: 80%;
      @media (min-width: $break-m) {
        width: 55%;
      }
    }
  }
