
.headline-- {
  &primary {
    color: $green;
  }
  &secondary {
    text-align: left;
    font-weight: $light-font;
    margin: 2rem 1.5rem;
  }

}

  .blockquote {
    font-style: italic;
    margin: 2rem 1.5rem;
    border-left: 8px solid $green;
    border-radius: $br;
    padding: 1rem;
    font-size: 1.4rem;
    color: $gray;
  }

  .link {
    color: $coral;
  }

  .container {
    font-family: $primary-font;
    font-size: 1rem;
  }

// NAV LINKS
  .nav a {
    color: $gray;
  }


// NAV HOVER
  .nav a:hover {
    background-color: $coral;
    color: white;
    padding: 1rem 8rem;
    margin: 2rem -8rem;
    border-radius: $br;
  }
